# Python / backend
backend/venv/
__pycache__/
*.pyc
.env

# Base de datos local
*.db
backend/techpill.db

# Node / frontend
node_modules/
frontend/dist/

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
